@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body {
    background-color: #000000;
}

.main {
    background-image: url("assest/images/campus.jpeg");
    /* background-size: 100vw; */
    background-position: center center;
    background-size: max(1400px, 100vw);
    height: 80vh;
    background-repeat: no-repeat;
    position: relative;

}

.box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;

}

.logo img {
    width: 130px;
}

nav {
    display: flex;
    max-width: 80vw;
    /* background-color: #00bfff; */

    justify-content: space-between;
    margin: auto;
    padding: 20px 20px;
    height: 70px;
    padding-top: 40px;
    position: relative;
    z-index: 10;
}

.nav-name {
    color: #1b41ff;
    font-size: 28px;
}

#campus-connect {
    display: flex;
    flex-direction: column;
    padding: 0px 45px;
    gap: 25px;
    padding-top: 90px;
    width: 55vw;
    margin: auto;
    height: calc(100% - 220px);
    color: #ffffff;
    position: relative;
}

.sec1 {
    justify-content: center;
    text-align: center;
}

#campus-connect .welcome {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 2.5em;
}

#campus-connect .guide {
    font-weight: 300;
    font-family: sans-serif;
    font-size: 1.5em;
}

#campus-connect .guide2 {
    font-weight: 70;
    font-family: sans-serif;
    font-size: 1em;
}

#campus-connect input {
    background-color: rgba(49, 52, 52, 0.748);
    font-size: 13px;
    border-color: #8f8e8ec5;
    border-radius: 4px;
    padding: 6px 15px;
    font-weight: 600;

}

.seperation {
    height: 2px;
    background-color: #52565793;
    position: relative;
    padding-bottom: 2px;
}

#blocks {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 100px;
    justify-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

#blocks .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    height: 300px;
    width: 260px;
    background-color: #353e44cb;
    margin: 20px;
    border-radius: 7px;
}

/* #blocks .image{
   
    width: 260px ;
    height: 180px;
    background-color: #62646385;
} */

#blocks .image img {
    width: 260px;
    height: 150px;
    object-fit: contain;
    border-radius: 7px;
}

.container button {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 3px 20px;
    background-color: #59d0f8df;

}

.container .title {
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: 400;
}

.footer {
    color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}